<!DOCTYPE virtual_modbus>
<settings>
 <vigie_settings>
  <ip>127.0.0.1</ip>
  <port>4444</port>
 </vigie_settings>
 <modbus_settings>
  <modbus_port>502</modbus_port>
 </modbus_settings>
 <devices>
  <device>
   <modbus_adr>1</modbus_adr>
   <sensor_id>1</sensor_id>
   <parameter_id>31</parameter_id>
   <info>reversao</info>
  </device>
  <device>
   <modbus_adr>2</modbus_adr>
   <sensor_id>2</sensor_id>
   <parameter_id>31</parameter_id>
   <info>qgbt1</info>
  </device>
  <device>
   <modbus_adr>3</modbus_adr>
   <sensor_id>3</sensor_id>
   <parameter_id>31</parameter_id>
   <info>qgbt1_rev</info>
  </device>
  <device>
   <modbus_adr>4</modbus_adr>
   <sensor_id>4</sensor_id>
   <parameter_id>31</parameter_id>
   <info>cpsifa_avac</info>
  </device>
  <device>
   <modbus_adr>5</modbus_adr>
   <sensor_id>5</sensor_id>
   <parameter_id>31</parameter_id>
   <info>H07 Lab</info>
  </device>
  <device>
   <modbus_adr>6</modbus_adr>
   <sensor_id>6</sensor_id>
   <parameter_id>31</parameter_id>
   <info>H01</info>
  </device>
  <device>
   <modbus_adr>7</modbus_adr>
   <sensor_id>7</sensor_id>
   <parameter_id>31</parameter_id>
   <info>CMA_STF</info>
  </device>
  <device>
   <modbus_adr>8</modbus_adr>
   <sensor_id>8</sensor_id>
   <parameter_id>31</parameter_id>
   <info>FURO_GASES_TK4</info>
  </device>
  <device>
   <modbus_adr>9</modbus_adr>
   <sensor_id>9</sensor_id>
   <parameter_id>31</parameter_id>
   <info>TRANSPORTES</info>
  </device>
  <device>
   <modbus_adr>10</modbus_adr>
   <sensor_id>10</sensor_id>
   <parameter_id>31</parameter_id>
   <info>A03_MESSE</info>
  </device>
  <device>
   <modbus_adr>11</modbus_adr>
   <sensor_id>11</sensor_id>
   <parameter_id>31</parameter_id>
   <info>A02_OF_GERAIS</info>
  </device>
  <device>
   <modbus_adr>12</modbus_adr>
   <sensor_id>12</sensor_id>
   <parameter_id>31</parameter_id>
   <info>CG_PRISAO</info>
  </device>
  <device>
   <modbus_adr>13</modbus_adr>
   <sensor_id>13</sensor_id>
   <parameter_id>31</parameter_id>
   <info>C_TERMICA</info>
  </device>
  <device>
   <modbus_adr>14</modbus_adr>
   <sensor_id>14</sensor_id>
   <parameter_id>31</parameter_id>
   <info>ED_ESQUADRAS</info>
  </device>
  <device>
   <modbus_adr>15</modbus_adr>
   <sensor_id>15</sensor_id>
   <parameter_id>31</parameter_id>
   <info>A01_CMD_B01</info>
  </device>
  <device>
   <modbus_adr>16</modbus_adr>
   <sensor_id>16</sensor_id>
   <parameter_id>31</parameter_id>
   <info>AVAC_PT3</info>
  </device>
  <device>
   <modbus_adr>17</modbus_adr>
   <sensor_id>17</sensor_id>
   <parameter_id>31</parameter_id>
   <info>LAVANDARIA_PT3</info>
  </device>
  <device>
   <modbus_adr>18</modbus_adr>
   <sensor_id>18</sensor_id>
   <parameter_id>31</parameter_id>
   <info>H02_PT3</info>
  </device>
  <device>
   <modbus_adr>19</modbus_adr>
   <sensor_id>19</sensor_id>
   <parameter_id>31</parameter_id>
   <info>H03_PT3</info>
  </device>
  <device>
   <modbus_adr>20</modbus_adr>
   <sensor_id>20</sensor_id>
   <parameter_id>31</parameter_id>
   <info>ED_H04_HAVAC</info>
  </device>
  <device>
   <modbus_adr>21</modbus_adr>
   <sensor_id>21</sensor_id>
   <parameter_id>31</parameter_id>
   <info>ED_H04_QGE_AD</info>
  </device>
  <device>
   <modbus_adr>22</modbus_adr>
   <sensor_id>22</sensor_id>
   <parameter_id>31</parameter_id>
   <info>GERAL_PT2</info>
  </device>
  <device>
   <modbus_adr>101</modbus_adr>
   <sensor_id>1</sensor_id>
   <parameter_id>32</parameter_id>
  </device>
  <device>
   <modbus_adr>102</modbus_adr>
   <sensor_id>2</sensor_id>
   <parameter_id>32</parameter_id>
  </device>
  <device>
   <modbus_adr>103</modbus_adr>
   <sensor_id>3</sensor_id>
   <parameter_id>32</parameter_id>
  </device>
  <device>
   <modbus_adr>104</modbus_adr>
   <sensor_id>4</sensor_id>
   <parameter_id>32</parameter_id>
  </device>
  <device>
   <modbus_adr>105</modbus_adr>
   <sensor_id>5</sensor_id>
   <parameter_id>32</parameter_id>
  </device>
  <device>
   <modbus_adr>106</modbus_adr>
   <sensor_id>6</sensor_id>
   <parameter_id>32</parameter_id>
  </device>
  <device>
   <modbus_adr>107</modbus_adr>
   <sensor_id>7</sensor_id>
   <parameter_id>32</parameter_id>
  </device>
  <device>
   <modbus_adr>108</modbus_adr>
   <sensor_id>8</sensor_id>
   <parameter_id>32</parameter_id>
  </device>
  <device>
   <modbus_adr>109</modbus_adr>
   <sensor_id>9</sensor_id>
   <parameter_id>32</parameter_id>
  </device>
  <device>
   <modbus_adr>110</modbus_adr>
   <sensor_id>10</sensor_id>
   <parameter_id>32</parameter_id>
  </device>
  <device>
   <modbus_adr>111</modbus_adr>
   <sensor_id>11</sensor_id>
   <parameter_id>32</parameter_id>
  </device>
  <device>
   <modbus_adr>112</modbus_adr>
   <sensor_id>12</sensor_id>
   <parameter_id>32</parameter_id>
  </device>
  <device>
   <modbus_adr>113</modbus_adr>
   <sensor_id>13</sensor_id>
   <parameter_id>32</parameter_id>
  </device>
  <device>
   <modbus_adr>114</modbus_adr>
   <sensor_id>14</sensor_id>
   <parameter_id>32</parameter_id>
  </device>
  <device>
   <modbus_adr>115</modbus_adr>
   <sensor_id>15</sensor_id>
   <parameter_id>32</parameter_id>
  </device>
  <device>
   <modbus_adr>116</modbus_adr>
   <sensor_id>16</sensor_id>
   <parameter_id>32</parameter_id>
  </device>
  <device>
   <modbus_adr>117</modbus_adr>
   <sensor_id>17</sensor_id>
   <parameter_id>32</parameter_id>
  </device>
  <device>
   <modbus_adr>118</modbus_adr>
   <sensor_id>18</sensor_id>
   <parameter_id>32</parameter_id>
  </device>
  <device>
   <modbus_adr>119</modbus_adr>
   <sensor_id>19</sensor_id>
   <parameter_id>32</parameter_id>
  </device>
  <device>
   <modbus_adr>120</modbus_adr>
   <sensor_id>20</sensor_id>
   <parameter_id>32</parameter_id>
   <info>H07 Lab</info>
  </device>
  <device>
   <modbus_adr>121</modbus_adr>
   <sensor_id>21</sensor_id>
   <parameter_id>32</parameter_id>
  </device>
  <device>
   <modbus_adr>122</modbus_adr>
   <sensor_id>22</sensor_id>
   <parameter_id>32</parameter_id>
  </device>
 </devices>
</settings>
